[submodule "Mods/GraveMod"]
	path = Mods/GraveMod
	url = https://github.com/p3t3rix/VsGraveMod.git
[submodule "Mods/DebugMod"]
	path = Mods/DebugMod
	url = https://github.com/p3t3rix/VsDebugMod.git
[submodule "Mods/Toggly"]
	path = Mods/Toggly
	url = https://github.com/p3t3rix/VsToggly.git
[submodule "Mods/ProspectorInfo"]
	path = Mods/ProspectorInfo
	url = https://github.com/p3t3rix/VsProspectorInfo.git
